<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; margin-bottom:10px">
<img class="card-img-top" src="{{cocktail.imageUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{cocktail.title}} </h5>
    <p class="card-text">{{cocktail.description}} </p>


    <div class="row">
      <div class="col-md-4 col-sm-12 text-center">
          <button [routerLink]="['/cocktails/', cocktail.id, 'edit']" class="btn btn-primary btn-md"><fa name="edit" animation=""></fa></button>      
        </div>

        <div class="col-md-4 col-sm-12 text-center">       
          <button [routerLink]="['/cocktails/', cocktail.id]" class="btn btn-primary btn-md"><fa name="list" animation=""></fa></button>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
        <button (click)="deleteCocktail(cocktail.id)" class="btn btn-primary btn-md"><fa name="trash" animation=""></fa></button>      
       </div>        
         
    </div>

  </div>
</div>
